---
# Cloudflare API token for cert-manager DNS-01 solver
# This file is intended to be committed SOPS-encrypted.
apiVersion: v1
kind: Secret
metadata:
  name: {{ blueprint_repo_context.traefik_cloudflare_api_token_secret_name | default('cloudflare-api-token') }}
  namespace: cert-manager
type: Opaque
stringData:
  {{ blueprint_repo_context.traefik_cloudflare_api_token_secret_key | default('api-token') }}: {{ blueprint_repo_context.traefik_cloudflare_api_token | default('') | quote }}
