---
# Proxmox CSI cluster config secret
# This file is intended to be committed SOPS-encrypted.
apiVersion: v1
kind: Secret
metadata:
  name: {{ blueprint_repo_context.proxmox_csi_config_secret_name | default('proxmox-csi-config') }}
  namespace: {{ blueprint_repo_context.proxmox_csi_namespace | default('csi-proxmox') }}
type: Opaque
stringData:
  {{ blueprint_repo_context.proxmox_csi_config_secret_key | default('config.yaml') }}: |
    features:
      provider: default
    clusters:
      - url: {{ blueprint_repo_context.proxmox_csi_api_url | default('') | quote }}
        insecure: {{ blueprint_repo_context.proxmox_csi_insecure | default(false) | bool | lower }}
        token_id: {{ blueprint_repo_context.proxmox_csi_token_id | default('') | quote }}
        token_secret: {{ blueprint_repo_context.proxmox_csi_token_secret | default('') | quote }}
        region: {{ blueprint_repo_context.proxmox_csi_region | default('kubernetes') | quote }}
