---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: {{ blueprint_repo_context.monitoring_namespace | default('monitoring') }}
resources:
  - namespace.yaml
  - helmrepository-prometheus.yaml
  - helmrepository-grafana.yaml
  - helmrelease-kube-prometheus-stack.yaml
  - helmrelease-loki.yaml
