---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - cilium
  - cert-manager
{% if blueprint_repo_context.traefik_enabled | default(true) | bool %}
  - traefik
{% endif %}
{% if blueprint_repo_context.monitoring_enabled | default(true) | bool %}
  - monitoring
{% endif %}
  - sops
